<!DOCTYPE html>
<html>
  <head>
    <title>scale-annotate-demo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
      async defer
    ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
